{% extends"base.html.twig" %}

{% block title %}Nombre ingrédient {{ parent() }}{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle recette</h1>
    <form name="article" method="post" action="/Recette/formAdd" enctype="multipart/form-data">
        <label for="combien">De combien d'ingrédients se compose votre recette ?</label>
        <input type="text" name="combien" placeholder="Combien d'ingrédients dans votre recette ?">
        <input type="submit" value="Choisir">
    </form>

{% endblock %}