{% extends 'base.html.twig' %}
{% block body %}
    <div class="diet-category">
        <h1>Régime alimentaire</h1>
        <div class="container">
            <ul class="category-container">
                <div>
                    <img src="./uploads/gluten-free-ico.png" alt="Icône Gluten Free" height="48px" width="48px">
                    <h2>Gluten free</h2>
                </div>
                <div>
                    <img src="./uploads/lactose-free-ico.png" alt="Icône Lactose Free" height="48px" width="48px">
                    <h2>Lactose free</h2>
                </div>
                <div>
                    <img src="./uploads/cetogene-ico.png" alt="Icône cetogène" height="48px" width="48px">
                    <h2>Cétogène</h2>
                </div>
                <div>
                    <img src="https://via.placeholder.com/48" alt="Icône régime alimentaire" height="48px" width="48px">
                    <h2>IG bas</h2>
                </div>
                <div>
                    <img src="https://via.placeholder.com/48" alt="Icône régime alimentaire" height="48px" width="48px">
                    <h2>Cholestérole</h2>
                </div>
            </ul>
        </div>
        <div class="recipe-container">
            <div class="card">
                <img src="https://via.placeholder.com/142x112?text=112x142" alt="">
                <h3>Titre recette</h3>
            </div>
            <div class="card">
                <img src="https://via.placeholder.com/142x112?text=112x142" alt="">
                <h3>Titre recette</h3>
            </div>
            <div class="card">
                <img src="https://via.placeholder.com/142x112?text=112x142" alt="">
                <h3>Titre recette</h3>
            </div>
            <div class="card">
                <img src="https://via.placeholder.com/142x112?text=112x142" alt="">
                <h3>Titre recette</h3>
            </div>
            <div class="card">
                <img src="https://via.placeholder.com/142x112?text=112x142" alt="">
                <h3>Titre recette</h3>
            </div>
            <div class="card">
                <img src="https://via.placeholder.com/142x112?text=112x142" alt="">
                <h3>Titre recette</h3>
            </div>
        </div>
    </div>
{% endblock body %}