{% extends 'base.html.twig' %}
{% block title '404 - Not Found !' %}
{% block body %}
    <h1>Hop Hop Hop il y a rien à voir ici !</h1>
    <img src="https://media1.tenor.com/images/0b1b9d86030586786a5a37655258b393/tenor.gif" alt="gif de chat qui pleure" height="600" width="800">
    <a href="/">Retourner à l'accueil du site.</a>
{% endblock %}