/*@import url('listing.css');*/

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.section-listing-header{
    color: #FB7051;
    border-bottom: 3px solid #FB7051;
}

.article_container{
    margin:10px;
}
.card{
    width: 400px;
    position: relative;
}
.image img{
    width: 356px;
    height: 177px;
    border-radius: 10px 0px;
    object-fit: cover;
}
.image{

}
.recette{
    width: 100%;
    margin: 10px;
}
.section-listing-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-listing-header > a{
    color: #ffffff;
    background-color: #FB7051;
    padding: 1em;
    border-radius: 10px;
}
.recette > div{
}
.card-container{
    justify-self: center;
    row-gap: 20px;
}
.card-container-article{

}
.recipe-card{
    max-height: 177px;
    max-width: 356px;
    margin: 10px;
    position: relative;

}
.recipe-card > img{
    height: 177px;
    width: 356px;
    border-radius: 10px 0px;
}
h2{
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 20px;
    color: #262D35;
}

h2.article-title{
    position: relative;
    left: 0;
}
.gradient{
    background: linear-gradient(114.03deg, rgba(255, 255, 255, 0.8) 1.8%, rgba(255, 255, 255, 0.2) 99.1%);
    height: 177px;
    width: 178px;
    position: absolute;
}
.dietname{
    position: absolute;
    top: 80px;
    left: 20px;
    color: #262D35;
}

/* Mobile */
@media screen and (max-width: 768px) {
    .section-listing-header {
        flex-direction: column;
        text-align: center;
    }


    .container {
        display: block;
    }

    .card-container {
        max-width: 356px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
}
/* Fin Mobile */
/* Tablette */
@media screen and (min-width: 768px){
    .card-container{
        max-width: 356px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: auto;
    }
    .recipe-card{
        max-width: 356px;
    }


}
/* Fin Tablette */
/* Desktop */
@media screen and (min-width: 1115px){
    .card-container{
        max-width: 700px;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-self: center;
        row-gap: 20px;
    }

    .section-listing-header h1{
        width: 60%;
    }

}
@media screen and (min-width: 1700px){
    .section-listing-header h1{
        width: 60%;
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-self: center;
        row-gap: 20px;
    }

}
/* Fin Desktop */