.container{
    height: calc(100vh - 450px);
}
.container form{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 50px auto 20px auto;
}
.container form input{
    margin-bottom: 10px;
    padding: 5px;
}
.container button{
    height: 40px;
    width: 40%;
    margin: auto;
    background-color: #FB7051;
    color: white;
    border: none;
    border-radius: 9px;
}
.container button:hover{
    cursor: pointer;
    background-color: #B64F3BFF;
}