.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    height: 100%;
    grid-gap: 10px;
}
h3  {
    margin-bottom: 0;
}
span{
    margin-bottom: 20px;
}
.btn{
    color: #262D35;
    background-color: #FB7051;
    padding: 1em;
    border-radius: 10px;
    font-size: .8em;
    font-weight: bold;
}
.list-img{
    width: 600px;
    height: 100%;
    margin-bottom: 20px;
}