@import "oneRecipe.css";
/* Mobile */
@media screen and (min-width: 375px){
    .container{
        width: 100vw;
    }
    .recipe-img{
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
    .recipe-name,
    .recipe-people{
        margin: 0;
        padding: 0;
    }
    .icons{
        margin-top: 20px;
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
    }
    .icons div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .icons p {
        margin-top: 0;
    }
    .icons i{
        font-size: 3em;
    }
    .icons .fav i,
    .icons .fav p{
        color: #F17E7E;
    }
    .icons .share i,
    .icons .share p{
        color: #8CC8FF;
    }
    .icons .basket i,
    .icons .basket p{
        color: #EEA151;
    }
    h2{
        text-align: center;
        font-size: 1em;
        text-align: left;
    }
    .ingredient-container{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .recipe{
        width: 80vw;
    }
    .recipe h2{
        text-align: left;
        margin-bottom: 0;
    }
    .recipe hr{
        margin-top: 0;
        border: 2px solid #D6D6D6;
    }
    .btn-desktop{
        display: none;
    }
}
/* Fin mobile */
/* Tablette */
@media screen and (min-width: 768px){
    .container{
        width: 80%;
    }
    .recipe-img{
        border-radius: 5px 0px;
        margin-top: 20px;
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
    .ingredients h2,
    .ingredient-name,
    .ingredient-quantity,
    .recipe h2{
        font-size: 1.3em;
        line-height: 1.2;
    }
}
/* Fin Tablette */
/* Desktop */
@media screen and (min-width: 1024px){
    .container{
        width: 80%;
    }
    .recipe-img{
        margin-top: 20px;
    }
    .icons{
        display: none;
    }
    .btn-desktop{
        margin-top: 20px;
        display: block;
    }
    .ingredients h2,
    .ingredient-name,
    .ingredient-quantity,
    .recipe h2{
        font-size: 1.3em;
        line-height: 1.2;
    }
}