{% extends 'base.html.twig' %}

{% block title 'Accueil Admin Marmitothon' %}

{% block css %}
    <link rel="stylesheet" href="/assets/admin_login.css">
{% endblock %}

{% block body %}
    <div class="container">
        <form action="/Admin/checkLogin" method="post">
            <label for="climail">Adresse mail</label>
            <input type="mail" name="climail" required>
            <label for="clipassword">Mot de passe</label>
            <input type="password" name="clipassword" required>
            <button type="submit">Se connecter</button>
        </form>
    </div>
{% endblock %}