{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="/assets/blog.css">
{% endblock %}

{% block title 'Blog - Comming soon' %}
{% block body %}
    <div class="content">
        <h1>Bienvenue sur le Blog !</h1>
        <a class="lien-addform" href="/Blog/addForm">+ Ajouter un article.</a>
        <div class="grid">
            {% for article in articles %}
            <div class="card">
                <h2 class="article-title">{{ article.art_title }}</h2>

                <div class="card-column">
                    <img src="http://placekitten.com/200/200">
                </div>
                <div class="card-column">
                    <p class="article-content">{{ article.art_resume }}</p><br>
                    <p class="article-date">Article posté le : {{ article.art_date }}</p><br>
                    <a class="article-lien-detail" href="/Blog/detail/{{ article.art_slug }}">Voir plus...</a>
                </div>
                <hr>
            </div>
            {% endfor %}
        </div>
        <a class="lien-accueil" href="/">Retourner à l'accueil du site.</a>
    </div>
{% endblock %}