<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Marmit'O Thon{% endblock %}</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
{% block body %}{% endblock %}
{% block javascript %}{% endblock %}
</body>
</html>